@media screen and (max-width: 600px) {
   #searchBtn{
       margin: 1rem 0rem 0rem 1rem !important;
   }
   #searchSelect{
       margin: 10px 0 0 0 !important;
   }
   .ml-3, .mx-3 {
    margin-left: 0rem!important;
}
   .row{
    margin: 0px !important;
  }
}
.navbar-nav {
    margin-bottom: 7px !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 1rem;
}
#navbarSupportedContent{
    padding-left: 10px;
}
#brandText{
    color: #007bff;
}
@media screen and (max-width: 600px){
.row {
    margin: 15px 0px !important;
}
}
#headerMain{
    margin: 0 0 4% 0px !important;
}
