.card{
    margin: 1rem 2rem !important;
    transition: .5s;
    text-align: center;
    border:none;
    padding: 10px;
}
.card:hover h5{
    color: white;
}
.card:hover{
    background-color: #a8c6ce;
    color: white;
    /* font-size: 1.5rem; */
}
.homeCard {
    width: 65%; 
}
.homeCardLast {
    width: 85% !important; 
}